<!DOCTYPE html>
<html lang="en">
  <head>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7543235523268703"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>İklim Değişikliğine Dur</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home" width="125" height="125" >Ev</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about" width="125" height="125" >Hakkımda</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills" width="125" height="125" >Kendi Projelerim</a>
          </li> 
        </ul>
      </nav>
    </header>
    <main class="main">
    <h1>İklim Değişikliği Hakkında :</h1>
    <img
    class="info-block__img"
    src="../static/img/img1.jpeg"
    alt="me"
    width="375"
    height="375"
    />
    <img
    class="info-block__img"
    src="../static/img/img2.jpeg"
    alt="me"
    width="375"
    height="375"
    />   
    <img
    class="info-block__img"
    src="../static/img/img3.jpeg"
    alt="me"
    width="375"
    height="375"
    />
    <img
    class="info-block__img"
    src="../static/img/img4.jpeg"
    alt="me"
    width="375"
    height="375"
    />     
    <img
    class="info-block__img"
    src="../static/img/img5.jpeg"
    alt="me"
    width="375"
    height="375"
    />  
    <h1 width="125" height="125" >İklim Değişikliği Nedir ?</h1>
    <h2 width="125" height="125" >İklim değişikliği, dünya genelinde iklim koşullarında meydana gelen uzun vadeli değişiklikleri ifade eder. Bu değişiklikler genellikle ortalama sıcaklık, yağış miktarı, rüzgar desenleri ve diğer iklim faktörleri üzerindeki uzun vadeli etkileri içerir.</h2>
    <h1> </h1>
    <h1> </h1>
    <h1 width="125" height="125" >Sebepleri :</h1>
    <h1>1- Fosil Yakıt Kullanımı:</h1>
    <h2>Kömür, petrol ve doğal gaz gibi fosil yakıtların kullanımı, atmosfere büyük miktarda sera gazı salınımına neden olur. Bu sera gazları, güneş ışınlarını yakalar ve atmosferde sıcaklığı artırır.</h2>
    <h1>2- Ormansızlaşma :</h1>
    <h2>Orman alanlarının azalması, karbon emme kapasitesini azaltır. Ormanlar genellikle atmosferdeki karbonu emer ve oksijen üretir, bu nedenle ormansızlaşma iklim değişikliğini hızlandırabilir.</h2>
    <h1>3- Endüstriyel Faaliyetler :</h1>
    <h2>Sanayileşme süreci sırasında, enerji üretimi, ulaşım ve diğer endüstriyel faaliyetler, sera gazlarının atmosfere salınımına neden olabilir.</h2>
    <h1>4- Tarım Uygulamaları :</h1>
    <h2>Tarım, metan ve diğer sera gazlarının salınımına katkıda bulunabilir. Ayrıca, ormansızlaşma nedeniyle tarım alanlarının genişlemesi iklim üzerinde etkili olabilir.</h2>
    <h1>Etkileri :</h1>
    <h1>1- Deniz Seviyesi Yükselmesi :</h1>
    <h2>Kutuplardaki buzulların erimesi ve deniz suyunun genleşmesi nedeniyle deniz seviyeleri yükselmektedir.</h2>
    <h1>2- Ekstrem Hava Olayları :</h1>
    <h2>Sıcaklık artışı, şiddetli fırtınalar, sel ve kuraklık gibi ekstrem hava olaylarını tetikleyebilir.</h2>
    <h1>3- Biyolojik Çeşitlilik Kaybı :</h1>
    <h2>İklim değişikliği, bazı ekosistemleri bozabilir ve birçok türün habitatlarını değiştirebilir, bu da biyolojik çeşitliliği olumsuz etkileyebilir.</h2>
    <h1>4- Tarım ve Gıda Güvenliği Sorunları :</h1>
    <h2>İklim değişikliği, tarım alanlarını ve su kaynaklarını etkileyerek gıda üretimini olumsuz etkileyebilir.</h2>
    <h1>Çözümleri :</h1>
    <h1>1- Temiz Enerji Kullanımı :</h1>
    <h2>Fosil yakıtlara dayalı enerji kaynaklarından temiz enerji kaynaklarına geçiş, sera gazı salınımını azaltabilir.</h2>
    <h1>2- Ormancılık ve Ağaçlandırma:</h1>
    <h2>Ormanları korumak ve yeni ağaçlandırma projeleri başlatmak, karbon emilimini artırabilir.</h2>
    <h1>3- Sürdürülebilir Ulaşım :</h1>
    <h2>Daha az sera gazı üreten ulaşım modlarına (elektrikli araçlar, toplu taşıma) geçiş, karbon ayak izini azaltabilir.</h2>
    <h1>4- Sürdürülebilir Tarım Uygulamaları :</h1>
    <h2>Gıda üretiminde sürdürülebilir ve çevre dostu tarım uygulamalarına geçiş, iklim değişikliğinin tarıma etkisini azaltabilir.</h2>
    <h1>Not :</h1>
    <h2>Bu çözümler, bireyler, topluluklar, kurumlar ve hükümetler düzeyinde alınabilir. İklim değişikliğiyle mücadele, geniş kapsamlı ve küresel bir çaba gerektirir.</h2>
    
    <!-- Önizleme bölümü -->
      <!-- Hakkımda bölümü -->
      <!-- Beceriler bölümü -->
      <!-- Geri bildirim formu -->
    <!-- Sosyal medya bağlantıları için bir alt bilgi -->
    <footer>

    </footer>
  </body>
</html>
